html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}
/* ----------- Buttons styles -------------- */

.button--purple {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}

.button--purple:hover {
  color: blueviolet;
  background-color: white;
  border-color: blueviolet;
}

.button--danger {
  background-color: red;
  color: white;
  font-weight: bold;
}

.button--danger:hover {
  color: red;
  background-color: white;
  border-color: red;
}

.button--rounded {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 40px;
  padding-left: 10px;
}

.button--single {
  height: 50%;
}

/* ----------- End Buttons styles -------------- */

/* ----------- Container styles -------------- */
.cont {
  height: 100%;
  min-height: 100%;
}

.navbar {
  min-height: 10%;
  height: 10%;
}

.main {
  display: flex;
  min-height: 70%;
  height: 70%;
}

.cont--centered {
  align-items: center;
  justify-content: center;
}

.cont--start {
  align-items: flex-start;
  justify-content: start;
}

.cont--max-width {
  margin: auto;
  max-width: 80%;
}
.card-container {
  height: 100%;
}

.card-title {
  width: 100%;
}

.card-footer {
  height: 20%;
}

.score {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.single-button {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-brand {
  cursor: pointer;
}

.option {
  width: 50%;
  height: 50%;
}
/* ----------- End Container styles -------------- */

/* ----------- Icon styles -------------- */

.icon {
  width: 28px;
  height: 28px;
  text-align: center;
  color: white;
  margin-left: 10px;
}

.card:hover {
  border: 2px solid purple;
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition:    transform 300ms ease-in-out;
  -ms-transition:     transform 300ms ease-in-out;
  -o-transition:      transform 300ms ease-in-out;
  transition:         transform 300ms ease-in-out;
}

.img-container--move-left {
  margin-right: 5%;
}

.img-container > .card-img-bottom {
  width: 25%;
  margin: 15px auto;
}

/* ----------- Extra styles -------------- */

.answers-counter {
  font-weight: bold;
}

.card-title {
  font-size: 22px;
  text-align: center;
}


@media (max-height: 800px) {
  .option {
    width: 35%;
    height: 35%;
  }
  .img-container > .card-img-bottom {
    width: 17%;
    margin: 15px auto;
  }
}
