<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../styles.css" />
  <link rel="shortcut icon" type="image/jpg" href="media/siren.png" />
  <title>Aprendiendo a prepararme</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="../main.js"></script>
</head>

<body>
  <div class="cont">
    <nav class="navbar navbar-light bg-light p-4">
      <div class="container-fluid">
        <a class="navbar-brand" onclick="window.location.href='../index.html'">
          <img src="/media/siren.png" alt="Icono de sirena de emergencias" width="30" height="24"
            class="d-inline-block align-text-top" />
          <b>Aprendiendo a prepararme</b>
        </a>
        <button type="button" class="btn button--purple" data-toggle="modal" data-target="#exampleModal">
          How to play?
        </button>
      </div>
    </nav>
    <div class="main cont--start flex-column container-fluid p-3 cont--max-width">
      <h4 class="pt-4 pb-3">Question 3</h4>
      <h3 class="pt-4 pb-4 fw-bold">
        In case of a flood, which is the most important thing to rescue?
      </h3>
      <div class="d-flex flex-column cont--centered w-100">
        <div class="d-flex flex-column cont--centered w-50 p-2">
          <h1 class="fw-bold text-success">Correct!</h1>
          <h3 class="fw-bold pt-3">Documentation</h3>
          <img class="card-img-bottom w-50" alt="Ilustración documentación" src="../media/answers/documentation.png" />
        </div>
        <p class="fs-5 text">
          Although it’s not the first thing that comes to mind, it’s important to keep documents in a waterproof
          cotainer. Here are some things that should be safe: birth certificate, ID, passport, diplomas, important phone
          numbers (family/friends) since they will be inaccessible if your battery or phone dies.
        </p>
      </div>
    </div>
    <div class="card-footer text-muted p-4 d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex justify-content-center">
        <p>
          <img src="../media/success.png" alt="Ícono respuesta correcta" class="icon" /> Correct answers:
          <span id="right_answers">0</span>
        </p>
        <p>
          <img src="../media/error.png" alt="Ícono respuesta incorrecta" class="icon" /> Incorrect answers:
          <span id="wrong_answers">0</span>
        </p>
      </div>
      <button type="button" class="btn button--purple pl-3 pr-3 pb-2" onclick="window.location.href='./summary.html';">
        <i class="fa fa-arrow-right"></i> See score
        </a>
      </button>
    </div>
  </div>
  <script>
    ScoreHandler.loadCurrentScore();
  </script>
</body>

</html>