<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../styles.css" />
  <link rel="shortcut icon" type="image/jpg" href="/media/siren.png" />
  <title>Aprendiendo a prepararme</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="../main.js"></script>
</head>

<body>
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Cómo jugar?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li> 
              Vas a ver tres posibles respuestas a una pregunta sobre qué hacer en una situación de emergencia. 
            </li>
            <li> 
              Sólo una de ellas es la correcta.
            </li>
            <li> 
              Si te equivocás, no te preocupes, te vamos a contar cuál era la respuesta correcta para que estés preparado para la próxima.
            </li>
            <li> 
              El objetivo es conseguir el mayor número de respuestas correctas.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="cont">
    <nav class="navbar navbar-light bg-light p-4">
      <div class="container-fluid">
        <a class="navbar-brand" onclick="window.location.href='../index.html'">
          <img src="../media/siren.png" alt="ícono de sirena de emergencia" width="30" height="24"
            class="d-inline-block align-text-top" />
          <b>Aprendiendo a prepararme</b>
        </a>
        <div class="buttons">
          <button type="button" class="cta btn button--purple" data-toggle="modal" data-target="#exampleModal">
            ¿Cómo jugar?
          </button>
          <button type="button" class="btn button--danger" onclick="UtilsHandler.resetGame()">
            <span class="font-weight-bold"> <i class="fa fa-times" aria-hidden="true"></i> Salir</span>
          </button>
        </div>
      </div>
    </nav>
    <div class="main cont--start flex-column container-fluid p-3 cont--max-width">
      <h5 class="pt-3 pb-3">Pregunta 8</h5>
      <h4 class="pt-3 pb-1 fw-bold">
        En caso de inundación, ¿qué es lo más importante a rescatar? 
      </h4>
      <div class="d-flex flex-column cont--centered w-100">
        <div class="d-flex flex-column cont--centered w-50 p-2">
          <h4 class="fw-bold text-danger">Incorrecto</h4>
          <h4 class="fw-bold pt-3">La respuesta <span class="text-success">correcta</span> es: Documentación</h4>
          <div class="img-container w-100 d-flex cont--centered">
            <img class="card-img-bottom" alt="ilustración de documentos" src="../media/answers/documentation.png" />
          </div>
        </div>
        <p class="fs-5 text answer-explanation">
          Aunque no sea lo primero que se te ocurra, es importante guardar los documentos en un contenedor impermeable. Estas son algunas de las cosas que deberían estar a salvo: certificado de nacimiento, DNI, pasaporte, diplomas, números de teléfono importantes (familia/amigos), ya que serán inaccesibles si se acaba la batería o el teléfono. 
        </p>
      </div>
    </div>
    <div class="card-footer text-muted p-4 d-flex flex-column justify-content-center align-items-center answers-counter">
      <div class="d-flex justify-content-center">
        <p>
          <img src="../media/success.png" alt="Correct answer icon" class="icon" />Respuestas correctas:
          <span id="right_answers">0</span>
        </p>
        <p>
          <img src="../media/error.png" alt="Wrong answer icon" class="icon" /> Respuestas incorrectas:
          <span id="wrong_answers">0</span>
        </p>
      </div>
      <button type="button" class="btn button--purple pl-3 pr-3 pb-2" onclick="window.location.href='./summary.html';">
        <i class="fa fa-arrow-right"></i> Ver puntaje
      </button>
    </div>
  </div>
  <script>
    ScoreHandler.loadCurrentScore();
    window.modal.setModal();
  </script>
</body>

</html>