<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../styles.css" />
  <link rel="shortcut icon" type="image/jpg" href="/media/siren.png" />
  <title>Aprendiendo a prepararme</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
  <script src="../main.js"></script>
</head>

<body>
  <div class="cont">
    <nav class="navbar navbar-light bg-light p-4">
      <div class="container-fluid">
        <a class="navbar-brand" onclick="window.location.href='../index.html'">
          <img src="/media/siren.png" alt="Emergency siren icon" width="30" height="24"
            class="d-inline-block align-text-top" />
          <b>Aprendiendo a prepararme</b>
        </a>
        <div class="buttons">
          <button type="button" class="btn button--purple" data-toggle="modal" data-target="#exampleModal">
            How to play?
          </button>
          <button type="button" class="btn button--danger" onclick="UtilsHandler.resetGame()">
            <span class="font-weight-bold"> <i class="fa fa-times" aria-hidden="true"></i> Exit</span>
          </button>
        </div>

      </div>
    </nav>
    <div class="main cont--start flex-column container-fluid p-3 cont--max-width">
      <h5 class="pt-3 pb-1">Question 1</h5>
      <h4 class="pt-3 pb-1">
        What should be packed in an emergency bag?
      </h4>
      <div class="row d-flex p-5 cont--centered w-100">
        <div class="col-md-4 col-sm-12 card-container">
          <button class="card box-shadow p-3" id="option1">
            <div class="card-body cont--centered w-100">
              <h4 class="card-title text-center">Toys</h4>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img class="card-img-bottom option" alt="Toys illustration" src="../media/answers/children-toys.png" />
            </div>
          </button>
        </div>
        <div class="col-md-4 col-sm-12 card-container">
          <button class="card box-shadow p-3" id="option2">
            <div class="card-body cont--centered w-100">
              <h4 class="card-title text-center">Water</h4>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img class="card-img-bottom option" alt="Water bottle illustration" src="../media/answers/water.png" />
            </div>
          </button>
        </div>
        <div class="col-md-4 col-sm-12 card-container">
          <button class="card box-shadow p-3" id="option3">
            <div class="card-body cont--centered w-100">
              <h4 class="card-title text-center">Joystick</h4>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img class="card-img-bottom option" alt="Joystick illustration" src="../media/answers/gamepad.png" />
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted p-4 d-flex justify-content-center">
      <div class="score">
        <p>
          <img src="../media/success.png" alt="Correct answer icon" class="icon" /> Correct answers:
          <span id="right_answers">0</span>
        </p>
        <p>
          <img src="../media/error.png" alt="Wrong answer icon" class="icon" /> Incorrect answers:
          <span id="wrong_answers">0</span>
        </p>
      </div>
    </div>
  </div>
  <script>

  </script>
  <script>
    ScoreHandler.loadCurrentScore();
    EventsHandler.attachEventsToOptionButtons(1, {
      rightOptionId: 2,
      wrongOptionsIds: [1, 3]
    })
  </script>
</body>

</html>