<!DOCTYPE html>
<html="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="shortcut icon" type="image/jpg" href="../media/siren.png" />
    <title>Aprendiendo a prepararme</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="../main.js"></script>
  </head>

  <body>
    <div class="cont">
      <nav class="navbar navbar-light bg-light p-4">
        <div class="container-fluid">
          <a class="navbar-brand" onclick="window.location.href='../index.html'">
            <img src="/media/siren.png" alt="Icono de sirena de emergencias" width="30" height="24"
              class="d-inline-block align-text-top" />
            <b>Aprendiendo a prepararme</b>
          </a>
          <div class="buttons">
            <button type="button" class="btn button--purple" data-toggle="modal" data-target="#exampleModal">
              How to play?
            </button>
            <button type="button" class="btn button--danger" onclick="UtilsHandler.resetGame()">
              <span class="font-weight-bold"> <i class="fa fa-times" aria-hidden="true"></i> Exit</span>
            </button>
          </div>
        </div>
      </nav>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="main cont--centered cont--max-width flex-column">
        <h1 class="fw-bold">Well done!</h1>
        <div class="d-flex align-items-center mt-5">
          <img class="m-2" src="../media/success.png" alt="Ícono respuesta correcta" width="30">
          <h2>Correct answers: <span id="right_answers">0</span></h1>
        </div>
        <div class="d-flex align-items-center mt-5">
          <img class="m-2" src="../media/error.png" alt="Ícono respuesta incorrecta" width="30">
          <h2>Incorrect answers: <span id="wrong_answers">0</span></h1>
            </h1>
        </div>
      </div>
      <div class="card-footer text-muted p-4 d-flex justify-content-center">
        <div class="single-button">
          <button type="button" class="btn button--purple button--single pl-3 pr-3 pb-2"
            onclick="window.location.href='../index.html';">
            <i class="fa fa-hand-o-left" aria-hidden="true"></i> Go back to main menu
          </button>
        </div>
      </div>
    </div>
    <script>
      ScoreHandler.loadCurrentScore();
    </script>
  </body>

  </html>